// Theme selector: 'dark' or 'light'
$theme: dark;
$border-radius: 8px;
$fontname:tahoma;

// Define color palettes
$light-theme: (
  bg: #ffffff,
  text: #212529,
  primary: #0d6efd,
    secondary: #11bb11,

  card: #f8f9fa
);

$dark-theme: (
  bg: #121212,
  text: #f8f9fa,
  primary: #0d6efd,
  secondary: #11bb11,
  card: #1e1e1e
);
